RewriteEngine On

RewriteRule ^([a-z]*)$ http://localhost/Git/stationary-site/User/index.php?page=$1 [L]


RewriteRule ^([a-z]*)/([0-9]*)$ http://localhost/Git/stationary-site/User/index.php?page=$1&id=$2 [L]